$primary-color: #053D57;
$secondary-color: #006884;

.about-section{
    padding: 65px;
    height: 100vh;
    h1{
        font-family: 'Cormorant', serif;
        font-weight: 700;
        font-size: 60px;
        font-style: italic;
        display: inline-block;
        &:after{
            content: "";
            border-bottom: 4px solid $primary-color;
            width: 50%;
            display: block;
            margin-bottom: 20px;
        }
    }
    p{
        font-family: 'Cormorant', serif;
        font-weight: 500;
        font-size: 24px;
        font-style: italic;
    }
}

ul.about-info {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 100%;
    li span {
        font-family: 'Cormorant', serif;
        font-weight: 500;
        font-size: 24px;
        font-style: italic;
        width: calc(100% - 130px);
        &:first-child {
            font-family: 'Cormorant', serif;
            font-weight: 700;
            font-size: 26px;
            font-style: italic;
            color: #000000;
            width: 400px;
        }
    } 
}
.cv-btn{
    margin-top: 30px;
}
.cv{
    padding: 10px 20px;
    border: 2px solid $secondary-color;
    border-radius: 25px;
    background: $secondary-color;
    font-family: 'Cormorant', serif;
    font-weight: 700;
    font-size: 24px;
    font-style: italic;
    color: #F2F1EF;
}
.profile-image{
    margin-left: 20px;
    width: 400px;
    position: relative;
    img{
        border-radius: 4%;
    }
    &:after{
        content: "";
        position: absolute;
        padding: 200px;
        left: 10%;
        top: 10%;
        z-index: -1;
        border: 6px solid $primary-color;
        border-radius: 10px;
    }
}
