$primary-color: #97BCC7;
$bg-color: #ffffff;
.contact-section{
    padding: 65px;
    // height: 100vh;
    background-color: $bg-color;
}
.contact-desc{
    margin-top: 10%;
    text-align: center;
    h1{
        font-weight: 700;
        font-size: 60px;
        font-style: italic;
        display: inline-block;
        &:after{
            content: "";
            border-bottom: 4px solid #053D57;
            width: 100%;
            display: block;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    p{
        font-weight: 500;
        font-size: 24px;
        margin: 4% 30%;
        font-style: italic;
    }
    a{
        background: #ffffff;
        font-weight: 600;
        font-size: 18px;
        font-style: italic;
        border: 2px solid #000000;
        color: #000000;
        padding: 14px 40px;
        &:hover{
            border: 2px solid #053D57;
            color: #ffffff;
            background: #053D57;
        }
    }
}