.navbar-section{
    padding: 10px;
}
.navbar{
    position: relative;
    z-index: 1;
    margin: 0 20%;
    display: flex;
    justify-content: space-between;
}
.navbar-title h1{
    font-family: 'Cormorant', serif;
    font-size: 1.7em;
    font-weight: 700;
    font-style: italic;
    color: #053D57;
}
.navbar-lists{
    display: flex;
    gap: 7vh;
    text-decoration: none;
    list-style: none;
    li{
        font-family: 'Cormorant', serif;
        font-size: 1.6em;
        font-weight: 700;
        font-style: italic;
        color: #053D57;
    }
}
.cv-btn a:hover{
    color: #053D57;
    border: 1px solid #053D57;
    background: unset;
}