html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.banner-section{
  width: 100%;
  height: 90vh;
}
.home-banner{
  position: absolute;
  top: 0;
  z-index: 0;
  width: 50%;
  height: 100vh;
  background: #F2F1EF;
}
.content{
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    h1{
      font-family: 'Cormorant', serif;
      font-size: 26px;
      line-height: 3.2rem;
      font-style: italic;
    }
}
.top-content{ 
  font-family: 'Cormorant', serif;
  font-size: 26px;
    .profession{
    color: #006884;
  }
}
.middle-text{
  font-family: 'Cormorant', serif;
  font-size: 60px;
}

/* navbar css */
@import '../src/components/navbar/navbar.scss';

/* about css */
@import '../src/components/about/about.scss';

/* project css */
@import '../src/components/projects/projects.scss';

/* contact css */
@import '../src/components/contact/contact.scss';